<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is a url-shortening
    <a href="http://www.ruby-software.com/">RubySoftware</a>
    assignment application.
  </h2>
  <%= render 'layouts/new_link' %>
</div>